<launch>
  <!--PARAMETER-->
	<rosparam command="load" file="$(find params)/params.yaml"/>
  <!-- PLANNER LAUNCH -->
  <node pkg='planner' type='kiapi_stage1.py' name='Planner' />
  <!-- LOCALIZER LAUNCH -->
  <node pkg='common' type='localizer_niro.py' name='Localizer' launch-prefix="bash -c 'sleep 10; $0 $@' "/>
  <!-- CONTROLLER LAUNCH -->
  <node pkg='common' type='controller.py' name='Controller' launch-prefix="bash -c 'sleep 10; $0 $@' "/>
  <!-- CONTROLLER UI LAUNCH -->
  <node pkg='control' type='control_ui.py' name='ControlUI' />
  <!-- RVIZ LAUNCH -->
  <node pkg='rviz' type='rviz' args='-d /home/inha/catkin_ws/src/niro/common/Master/aeye.rviz' name='RVIZ' />
</launch>
