<launch>
  <!-- PLANNER LAUNCH -->
  <node pkg='planning' type='planner.py' name='Planner' />
  <!-- LOCALIZER LAUNCH -->
  <node pkg='control' type='localizer.py' name='Localizer' launch-prefix="bash -c 'sleep 10; $0 $@' "/>
  <!-- CONTROLLER LAUNCH -->
  <node pkg='control' type='controller.py' name='Controller' launch-prefix="bash -c 'sleep 10; $0 $@' "/>
  <!-- CONTROLLER UI LAUNCH -->
  <node pkg='car' type='control_ui.py' name='ControlUI' />
  <!-- RVIZ LAUNCH -->
  <node pkg='rviz' type='rviz' args='-d $(find visualize)/main.rviz' name='RVIZ' />
</launch>
